/* WIREFRAME TESTING */

/* This section will create dashed borders around all elements, uncomment the below code when building layout */
/*
:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}
*/

/* END WIREFRAME TESTING */


/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

body {
  background: #f5f5f5;
  color: #424242;
  /*max-width: 600px;*/
  height: 96vh;
  width: 96vw;
  line-height: 1.2;

  margin: 2vh 0;
  /*Apply Google Font*/
  font-family: 'Roboto', sans-serif;;

  /* Full background */
  /*background: url('../img/unsplash01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: left;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  text-align: left;
  margin-bottom: 1em;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 0.7em;
}

.container {
  /*background: #f5f5f5;*/
  width: 90vw;
  /*height: 96vh;*/
  margin: 0 auto;
  overflow: auto;
  padding: 2vh 2vw;
}

.header {
  margin: 0 auto;
  padding: 2vh 2vw;
}
.bars {
  float: left;
}

.think {
  float: left;
  padding-left: 1em;
}

.search-icon {
  float: right;
}

.words {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.gallery {
  /*width: 80vw;
  height: 79vh;*/
  background: #f5f5f5;
  /*overflow: auto;
  /*padding: 2vh 2vw;*/
  margin: 0 auto;
  overflow: auto;
}
.gallery-item {
  /*float: left;
  width: 60vw;
  height: 11vh;*/
  /*padding: 1vh 1vw;*/
  background: white;
  margin: 2vh 1vw;
  box-shadow: 0px 3px 3px rgba(108, 108, 109, 0.2);
}

.gallery-item p{
  color: #8d8d8d;
}

.gallery-item-big img {
  max-width: 100%;
}

.gallery-item-big {
  display:block;
  padding: 1vh 1vw;
  overflow-y: hidden;
}

.gallery-item img {
  max-width: 35%;
  margin: 2%;

}

/*.youtube-image img {
  float: left;
}*/

.big-image-caption {
  margin-top: -12vh;
  margin-left: 5vw;
  margin-right: 5vw;
  color: white;
}

.gallery-item #image-caption {
  float: right;
  max-width: 60%;
  padding: 2.5%;
}

 /* Clearfix */

.clearfix {
content: "";
display: table;
clear: both;
}


/* MEDIA QUERIES */

/* Medium Devices, Wide Screens */
 @media only screen and (min-width : 600px) {

   .gallery {
     padding: 0;
   }
   .gallery-item {
     clear: none;
     max-width: 40vw;
     min-height: 45vh;
   }

   .gallery-item img {
     max-width: 100%;
     margin: 0 auto;
   }

   .gallery-item #image-caption {
     max-width: 100%;
     padding: 1.5em;
     padding-bottom: 1em;
   }

   h4, p {
     text-align: center;
   }

   .big-image-caption h4, .big-image-caption p {
     text-align: left;
   }

   .youtube-image {
     float: left;
   }

   .hands-image {
     float: right;
   }

   .row-1 {
     display:block;
   }

   .row-2 {
     display: block;
   }

   .streaming-image {
     float: left;
   }

   .girls-image {
     float: right;
   }

   .gallery-item-big{
      overflow-y: hidden;
      clear: both;
      padding-bottom: 2em;
   }
 }

 /*Large screens*/

 @media only screen and (min-width : 1050px) {
   /*.gallery {
     padding: 0;
   }*/

   body {
     background-image: url(../img/map-background.jpg);
     background-repeat: no-repeat;
     background-size: contain;
   }

   .gallery-item {
     /*clear: none;*/
     max-width: 22%;
     min-height: 39vh;
     /*min-height: 45vh;*/
   }

   .row-1 {
     clear:none;
   }

   .youtube-image {
     float: right;
   }

   .hands-image {
     float: right;
   }

   .large-row-1 {
     display:block;
     overflow: auto;
   }

   .marketing {
     float: left;

   }

   .streaming-image {
     float: left;
   }

   .girls-image {
     float: left;
   }

   .large-row-2 {
     display: block;
   }

   .gallery-item-big{
      overflow-y: hidden;
      clear: none;
      padding-bottom: 2em;
       max-width:50%;
   }

   .boy {
     float: right;
   }

   }
